@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

.header-main {
  color: ivory;
  font-family: "Roboto", sans-serif;
  min-height: 50px;
  max-height: 5vh;
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #0b3854;
  padding: 0 2em;
  margin: 0;
}

.name {
  padding-left: 1em;
  font-size: 2em;
  white-space: nowrap;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-self: right;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}

.nav-item {
  padding: 1em;
  color: ivory;
}

.nav-item a {
  text-decoration: none;
  color: ivory;
  padding: 1em;
}

.nav-item a:hover {
  animation: hoverBackground 0.5s forwards;
}

/*Media Queries*/

@media (max-width: 845px) {
  .nav-list {
    display: none;
  }
}

/*Animations*/

@keyframes hoverBackground {
  from {
  }
  to {
    box-shadow: inset 5px 5px black;
    border-radius: 25px;
  }
}
